---
import Nav from "./Nav.astro";
import {GITHUB_USERNAME} from '../../config'
import DarkModeToggle from "./DarkModeToggle.astro";
---

<header>
  <div
    class="flex justify-between items-center content-center"
    style={{ justifyContent: "space-between" }}
  >
    <Nav />
    <div
      class="justify-self-end py-2 flex items-center content-center text-text-bold"
    >
      <a
        class="unset ml-4 rounded-sm transition-[background-size] duration-150 ease-in-out bg-left-bottom bg-[length:0%_55%] hover:bg-[length:100%_55%] bg-no-repeat bg-gradient-to-r from-primary-blue to-primary-blue dark:bg-none dark:hover:text-primary-blue"
        href={`https://github.com/${GITHUB_USERNAME}`}
        target="_blank"
      >
        <i
          class="fa-brands fa-github px-2"
          aria-hidden="true"
          title="Xin Yu on GitHub"></i>
        <!-- <span>GitHub</span> -->
      </a>
      <!-- <a
              class="unset ml-4 rounded-sm transition-[background-size] duration-150 bg-left-bottom bg-[length:0%_55%] hover:bg-[length:100%_55%] bg-no-repeat bg-gradient-to-r from-primary-blue to-primary-blue dark:bg-none dark:hover:text-primary-blue"
              href="https://twitter.com/flexdinesh"
          >
              <i class="fa-brands fa-twitter px-2" aria-hidden="true" title="Dinesh on Twitter"></i>
              <span>Twitter</span>
          </a> -->
    </div>
  </div>
  <DarkModeToggle />
</header>
<style>
  header {
    grid-area: header;
    display: grid;
    align-items: center;
    grid-template-columns: minmax(0, 1fr) minmax(0, max-content) minmax(
        0,
        max-content
      );
  }
</style>
