---
const { title, description } = Astro.props;
---

<head>
  <title>{title}</title>
  <meta name="description" content="{description}" />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.css"
    crossorigin="anonymous"
  />
</head>
