---
const { content, color = "blue" } = Astro.props;

var classes = `text-xs font-light inline-flex items-center leading-sm uppercase px-3 py-[0.5] border rounded-full border-${color}-300 text-${color}-400`;
---

<div class={classes}>
  {content}
</div>
