* {
  margin: 0;
  padding: 0;
}

:root {
  margin: 0;
  padding: 0;
}

.App {
  margin: 5% 10%;
}

.project {
  padding: 1rem;
}

.project-tags-container {
  margin-left: 2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.project-description {
  margin-left: 3rem;
}

.project-links-container {
  margin-left: 2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

